:host {
  display: block;
  height: 48px;
  padding: 0 16px;
  position: fixed;
  bottom: 0;
  z-index: 9;
  right: 0;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.site-title {
  float: left;
  line-height: 20px;
}
