<div id="main-container">
	<div id="scene-background" style=""></div>
	<div id="scene-container" style="transform: perspective(1100px) translateY(600px) rotateX(90deg) rotateZ({{trackingX}}deg);">
	    <div id="main_scene" style="translateZ(-100px)">        

	      	<sd-map></sd-map>
			<sd-pin [trackingX]="trackingX" (selectedEstate)="selectedEstate = $event"></sd-pin>
	    </div>
	</div>

	<sd-infobox [selectedEstate]="selectedEstate" [trackingX]="trackingX"></sd-infobox>
	<sd-popup></sd-popup>

  <div class="side-info">
    <div class="first-widget">
    	Coor: {{trackingX}}
    </div>
  </div>
</div>