:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

#main-container {
  width: 100%;
  height: 100vh;
}

#scene-background {
  transform: perspective(1100px)  translateY(600px) rotateX(90deg);
  -webkit-transform: perspective(1100px)  translateY(600px) rotateX(90deg);
  top: -1350px;
  left: -50%;
  background-color: #3a978a;
  background-image: url('../assets/line.svg');
  box-shadow: inset 0 0 0 30vw #023536;
  background-size: 4px;
  width: 200%;
  height: 2000px;
  position: absolute;
  pointer-events: none;
}

#scene-container {
  position: absolute;
  top: -640px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: perspective(1100px) translateY(600px) rotateX(90deg) rotateZ(0.138889deg);
  -webkit-transform: perspective(1100px) translateY(600px) rotateX(90deg) rotateZ(0.138889deg);
  /*mix-blend-mode: color-dodge;*/
}
#main_scene {
  transform: perspective(2980px) translateY(0px);
  -webkit-transform: perspective(2980px) translateY(0px);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
  width: 100vw;
  height: 50vw;
  margin: 0 auto 0;
}


.first-widget {
  position: fixed;
  right: 25px;
  bottom: 50px;
  color: white;
}
