<div class="right-infobox">
	<div class="right-infobox-outer">
		<div class="right-infobox-inner income-infobox">

			<div class="right-infobox-1 border-top-thin">
				<sd-infobox-input (submitted)="onSubmit($event)"></sd-infobox-input>
			</div>
			<div class="right-infobox-2">
				<div class="container income-curve"><span class="income-marker" [ngStyle]="{'left':salaryMarkerPos+'%'}"></span><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="230px" height="45px" viewBox="0 0 230 45" enable-background="new 0 0 230 45" xml:space="preserve">
				<g>
					<rect y="44" opacity="0.9" fill="#3A978A" width="230" height="1"/>
					<path opacity="0.9" fill="#3A978A" d="M15,44c8.6-1.7,17.5-7.1,28.1-20C53.2,11.7,57.8,0,70,0c15,0,22.1,16.3,59.3,31.7
						C148,39.3,182.5,44,205,44C205,44,24.1,44,15,44z"/>
					<line fill="none" stroke="#1D5454" stroke-dasharray="3,2.5" x1="70" y1="44" x2="70" y2="0"/>
				</g>
				</svg></div>
			</div>
			<div class="right-infobox-3">
				<div class="container infobox-text">
					<p class="small-text income-curve-text">在 2014 年 5 月至 6 月，本港僱員的每月工資中位數為 <span class="highlighted">$14,800</span>。男性僱員的每月工資中位數為 $16,500，而女性僱員則為 $12,700。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="right-infobox-outer">
		<div class="right-infobox-inner">
			<div class="right-infobox-4 border-bottom-thin">
				<div class="infobox-sizes">
					<h3 class="highlighted text-align-center">{{selectedEstate.name}}</h3>	
					<div class="select-row">
						<span class="sizes-select-title">選擇單位實用面積</span><div class="select-style">
							<select [ngModel]="user.selectedSize" (ngModelChange)="onChangeSize($event)">
								<option *ngFor="#size of user.selectedEstate.sizes" [value]="size">{{size}}</option>
							</select>
						</div>
					</div>
					<span class="price-title">單位總值</span><span class="price number">${{totalPrice}}</span>
				</div>
			</div>
			<div class="right-infobox-5">
				<div class="infobox-col-6">
					<div class="container infobox-text text-align-center">
						<p>每月供款</p>
						<h2 class="highlighted offset-top-25 number">$<span class="highlighted monthly-paid">0</span></h2>
					</div>
				</div>
				<div class="infobox-col-6">
					<div class="container infobox-ring-graph">
						<p>供款佔收入比例</p>
						<div class="percentage">
							<h2 class="highlighted number">{{user.mortgagePercent}}</h2><span class="highlighted number">%</span>
						</div>
						<div class="ring-graph-inner">
							<input type="text" [(ngModel)]="user.mortgagePercent" class="percentage" data-min="0" data-max="100" data-fgColor="#d6dcc2" data-bgColor="rgba(63, 151, 138, 0.4)" data-inputColor="#d6dcc2" data-width="80" data-height="80" data-thickness="0.25" data-displayInput="false">
						</div>
					</div>
				</div>
			</div>
			<div class="right-infobox-6 user-info-4">
				<div class="container infobox-year">
					<p>供款年期</p>
					<div class="infobox-year-slider" data-range_min="0" data-range_max="70" data-cur_min="25">
						<div class="slider-handle"></div>
					</div>
					<div class="infobox-year-graphic">
						<span *ngFor="#item of infoboxYearLimitArray; #i = index" [attr.data-interval]="i" [ngClass]="{fill: mortgageYearsStr>i*14}"></span>
					</div>
					<h2 class="highlighted number">{{ mortgageYearsStr }}</h2><span>年</span>
				</div>
			</div>
			<div class="right-infobox-7 user-info-4">
				<div class="infobox-formula-description">
					<h4>壓力測試計算方法</h4>
					<p>
						它是一個長期建立的事實，讀者將通過一個頁面的可讀的內容看時其佈局而分心。使用存有的一點是，它有一個字母更多或更少的...
					</p>
				</div>
			</div>
			<div class="container infobox-dropdown">
				<p class="module-title">Filter</p>
				<div class="select-style">
					<select>
						<option>5</option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>50</option>
					</select>
				</div>
			</div>
			<p style="display:none">isEnterSalary: {{user.isEnterSalary}}</p>
			<p style="display:none">isViewResult: {{user.isViewResult}}</p>
			<p style="display:none">Selected estate name: {{user.selectedEstate.name}}</p>
			<p style="display:none">Mortgage (year):</p>
			<p style="display:none">Monthly saving (%):</p> 
		</div>
	</div>
</div>
<div class="left-infobox" [ngClass]="{expand: selectedEstate.name}">
	<div class="left-infobox-outer custom-style-1">
		<div class="left-infobox-inner">
			<div class="left-infobox-8">
				<div class="infobox-text">
					<h2 class="module-title">堅離地圖</h2>
					<div class="compass-container">
						<div class="compass-container-inner">
							<img style="transform: rotate({{trackingX}}deg);" class="compass-graphic" src="/assets/svg/compass.svg">
							<img class="compass-neddle-graphic" src="/assets/svg/compass-neddle.svg">
						</div>
					</div>
					<ul class="tab-selector">
						<li data-tab="1">免責聲明</li>
						<li class="center" data-tab="2">提供資料修正</li>
						<li class="right" data-tab="3">聯絡我們</li>
					</ul>
					<div class="infobox-container">
						<div class="infobox-tab terms tab-1" [ngClass]="{show: user.customBoxTabNo==1}">
							<p>本網站內的資料僅作參考用途。</p>
							<p>本網站內所有資料皆由互聯網上收集數據所得而成，資料如有錯漏而引致任何不便或損失，本網站概不負責。</p>
							<p>為呈現特定的視覺效果，本網站曾將部分收集所得之數據編輯為近似值，資料可能與真實有別，讀者不應按本網站的內容進行任何投資。</p>
							<p>為方便計算每月供款、供款佔收入比例及供款年期，本網站假定所有樓宇按揭額為八成及按揭利率為2.15厘，而使用者有能力支付兩成首期、代理佣金、律師費、釐印費、按揭保險等款項。</p>
							<p>本網站有關樓宇買賣門檻、最低供款佔收入比例、最長供款年期等資料，與真實情況有別。</p>
							<p>本網站不負有更新、更正或修訂本網站所提供的任何資料及數據的責任。</p>
						</div>
						<div class="infobox-tab correction tab-2" [ngClass]="{show: user.customBoxTabNo==2}">
							<form>
								<div class="input-control">
								    <p class="label">屋苑名稱</p>
								    <input name="estatename" type="text" class="form-control" id="estatename">
								</div>
								<div class="input-control">
								    <p class="label">發展商</p>
								    <input name="developer" type="text" class="form-control" id="developer">
								</div>
								<div class="input-control">
								    <p class="label">地址</p>
								    <input name="address" type="text" class="form-control" id="address">
								</div>
							    <div class="input-inline">
							    	<div class="input-control">
							    		<p class="label">單位實用面積</p>
								    	<input name="sizes" type="text" class="form-control" id="sizes">
							    	</div>
							    	<div class="input-control">
							    		<p class="label">呎價（實用面積）</p>
								    	<input name="ppst" type="text" class="form-control" id="ppst">
							    	</div>
							    </div>
							    <div class="input-inline">
							    	<div class="input-control">
							    		<p class="label">座數</p>
								    	<input name="number_of_blocks" type="text" class="form-control" id="number_of_blocks">
							    	</div>
							    	<div class="input-control">
							    		<p class="label">樓齡</p>
								    	<input name="occupation_dates" type="text" class="form-control" id="occupation_dates">
							    	</div>
							    </div>
							    <div class="input-inline">
							    	<div class="input-control">
							    		<p class="label">單位數量</p>
								    	<input name="number_of_blocks" type="text" class="form-control" id="number_of_blocks">
							    	</div>
							    	<div class="input-control">
							    		<p class="label">港鐵步行距離</p>
								    	<input name="occupation_dates" type="text" class="form-control" id="occupation_dates">
							    	</div>
							    </div>
							    <div class="input-control">
								    <p class="label">附近設施</p>
								    <input name="address" type="text" class="form-control" id="address">
								</div>
								<div class="submit-container">
									<input class="submit" type="submit" value="提交">
								</div>
							</form>
						</div>
						<div class="infobox-tab contact tab-3" [ngClass]="{show: user.customBoxTabNo==3}">
							<p>form</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="left-infobox-outer">
		<div class="left-infobox-inner">
			<div class="left-infobox-1">
				<div class="container infobox-text">
					<p class="highlighted">{{selectedEstate.developer}}</p>
					<h2 class="highlighted">{{selectedEstate.name}}</h2>
					<p class="highlighted">{{selectedEstate.address}}</p>
				</div>
			</div>
			<div class="left-infobox-2">
				<div class="container infobox-button">
					<p class="module-title">單位實用面積</p>
					<div class="options-size">
						<span *ngFor="#size of user.selectedEstate.sizes; #i = index" [ngClass]="{active: i==0}" class="highlighted">{{size}}</span>
					</div>
				</div>
			</div>
			<div class="left-infobox-3 border-bottom-thin">
				<div class="infobox-text">
					<p>呎價 (實用面積)</p>
					<p class="font-size-large highlighted number">
						$<span class="counting highlighted" data-type="ppst"></span>
					</p>
				</div>
			</div>
			<div class="left-infobox-4">
				<div class="infobox-col-6">
					<div class="container infobox-bar-style-2" data-category="no_of_block" data-unit="number" data-mode="custom">
						<p class="module-title">座數</p>
						<div class="infobox-bar-style-2-graphic">
							<span *ngFor="#item of infoboxStyle2LimitArray; #i = index" [attr.data-interval]="i"></span>
						</div>
						<div class="infobox-bar-style-2-value">
							<p class="highlighted"><span class="counting highlighted" data-type="no_of_block"></span>座</p>
						</div>
					</div>
				</div>
				<div class="infobox-col-6">
					<div class="container infobox-bar-style-2" data-category="occupation_dates" data-unit="year" data-mode="custom">
						<p class="module-title">樓齡</p>
						<div class="infobox-bar-style-2-graphic">
							<span *ngFor="#item of infoboxStyle2LimitArray; #i = index" [attr.data-interval]="i"></span>
						</div>
						<div class="infobox-bar-style-2-value">
							<p class="highlighted"><span class="counting highlighted" data-type="occupation_dates"></span>年</p>
						</div>
					</div>
				</div>
			</div>
			<div class="left-infobox-5 border-bottom-thin">
				<div class="container infobox-bar-style-1" data-category="no_of_flat" data-unit="number" data-mode="static">
					<p class="module-title">單位數目</p>
					<div class="bar-style-1-graphic">
						<span *ngFor="#item of infoboxStyle1LimitArray; #i = index" [attr.data-interval]="i"></span>
					</div>
					<div class="bar-style-1-value">
						<p class="highlighted"><span class="counting highlighted font-size-large" data-type="no_of_flat"></span>個</p>
					</div>
				</div>
			</div>
			<div class="left-infobox-6">
				<div class="container infobox-progress">
					<p class="module-title">港鐵站行距離</p>
					<div class="infobox-progress-graphic">
						<span class="fill"></span>
						<span class="fill"></span>
						<span></span>
						<span></span>
						<span></span>
						<div class="progress-graphic"><img src="/assets/svg/running.svg"></div>
					</div>
					<div class="infobox-progress-value">
						<p class="highlighted">10<span class="unit highlighted">分鐘</span></p>
					</div>
				</div>
			</div>
			<div class="left-infobox-7">
				<div class="infobox-button">
					<p class="module-title">附近設施</p>
					<div class="options-feature">
						<span class="active">會所</span>
						<span>游泳池</span>
						<span class="active">停車場</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>