$theme-highlight: #d6dcc2;
$theme-green: #3a978a;
$theme-dark-green: #1d5454;

h2, p, h3, h4 {
  margin-top: 0;
}

p {
  margin-bottom: 2px;
  font-size: 11px;
}

h2, .font-size-large {
  font-size: 26px;
  margin-bottom: 4px;
  line-height: 1.2;
}

h3 {
  font-size: 17px;
  margin-bottom: 0;
}

.offset-top-25 {
  margin-top: 25px;
}

.highlighted {
  color: $theme-highlight;
}

.infobox-col-6 {
  width: 50%;
  float:left;
}

.text-align-center {
  text-align: center;
}

.border-top-thin {
  border-top: 1px solid $theme-dark-green;
}

.border-bottom-thin {
  padding-bottom: 4px;
  border-bottom: 1px solid $theme-dark-green;
}

.left-infobox {
  position: absolute;
  left: 0;
  width: 280px;
  transition: left 400ms;
  z-index: 9;
  .left-infobox-outer{
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    background-color: rgba(11, 63, 64, 0.9);
    margin: 20px 0 0;
    [class^="left-infobox-"] {
      margin-bottom: 4px;
      &:after {
        display: table;
        clear:both;
        content: "";
      }
    }
    .left-infobox-inner {
      height: 100%;
      margin-bottom: 0;
    }
  }
}

.right-infobox {
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 9;
  .right-infobox-outer {
    background-color: rgba(11, 63, 64, 0.9);
    padding: 15px;
    margin-top: 10px;
    &:first-child {
      margin-top: 20px;
    }
    [class^="right-infobox-"] {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      &:after {
        display: table;
        clear:both;
        content: "";
      }
    }
    .right-infobox-inner {
      height: 100%;
      margin-bottom: 0;
    }
  }
}

// Common module
//// Text
.infobox-text {
  &.small-text {
    font-size: 9px;
  }
}
//// Option Button
.infobox-button {
  [class^="options-"] {
    margin: 4px 0 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    span {
      border: 1px solid $theme-green;
      display: inline-block;
      padding: 2px 8px;
      float: left;
      background-color: rgba(63,151,138,0.4);
      margin-right: 12px;
      margin-bottom: 4px;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      &.active, &:hover {
        color: $theme-green;
        background-color: $theme-highlight;
      }
    }
  }
}

//// Bar style 1
.infobox-bar-style-1 {
  .bar-style-1-graphic {
    width: 66%;
    float: left;
    margin-top: 4px;
    span {
      width: 6px;
      margin-right: 3px;
      margin-bottom: 2px;
      height: 6px;
      background-color: rgba(63,151,138,0.4);
      display: block;
      float:left;
      &.fill {
        background-color: $theme-highlight;
      }
    }
  }
  .bar-style-1-value {
    width: 32%;
    float: left;
    font-size: 20px;
    padding-top: 18px;
    padding-left: 2%;
  }
}
//// Bar style 2
.infobox-bar-style-2 {
  .infobox-bar-style-2-graphic {
    width:66%;
    float:left;
    span {
      display: block;
      background-color: rgba(63,151,138,0.4);
      height: 14px;
      margin-bottom:2px;
      margin-right: 2px;
      width: 6px;
      float:left;
      &.fill {
        background-color: $theme-highlight;
      }
    }
  }
  .infobox-bar-style-2-value {
    width: 29%;
    float:left;
    p {
      margin-top: -2px;
    }
    span {
      font-size: 16px;
      line-height: 1;
    }
  }
}
//// Progress
.infobox-progress {
  .infobox-progress-graphic {
    width: 75%;
    float:left;
    padding-top: 35px;
    padding-bottom:10px;
    position: relative;
    span {
      display: block;
      height: 1px;
      width: 19%;
      margin-right: 1%;
      float:left;
      background-color: rgba(63,151,138,0.4);
      &.fill {
        background-color: $theme-highlight;
      }
    }
    .progress-graphic {
      position: absolute;
      bottom: 0;
      left: 45px;
      img {
        height: 50px;
      }
    }
  }
  .infobox-progress-value {
    width: 25%;
    float: left;
    padding-top:10px;
    p {
      font-size: 30px;
      .unit {
        display: inline-block;
        width: 10px;
        font-size: 12px;
        padding-left: 4px;
        line-height: 15px;
      }
    }
  }
}
//// Year
.infobox-year {
  text-align: center;
  .infobox-year-graphic {
    span {
      display: block;
      height: 1px;
      width: 19%;
      margin-right: 1%;
      float:left;
      background-color: rgba(63,151,138,0.4);
      &.fill {
        background-color: $theme-highlight;
      }
    }
  }
  .is_clickable {
    cursor: hand;
    cursor: pointer;
  }
  .infobox-year-slider {
    cursor: hand;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    width: 98%;
    height: 10px;
  }
  .infobox-year-slider .slider-handle.gripHighlighted {
    background: #113344;
  }
  .infobox-year-slider .slider-handle {
    position: absolute;
    border-top: 10px solid #d6dcc2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 10px;
    height: 10px;
    margin-left: -10px;
  }
  .infobox-year-slider .bar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #ffffff;
    height: 8px;
    top: 6px;
  }
  .infobox-year-slider .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #e87722;
    height: 20px;
    top: 0;
  }

}

// infobox Input
//// Already moved to infoboxInput.component.scss

// Dropdown
.infobox-dropdown {

}

// Tab
.tab-selector {
  list-style-type: none;
  margin-bottom: 10px;
  -webkit-padding-start: 0;
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  li {
    float: left;
    width: 33.3%;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    &.center {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
  }
}
.infobox-container {
    position: relative;
    -moz-transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;

  .infobox-tab {
    position: absolute;
    top: 0;
    max-height: 500px;
    opacity: 0;
    overflow: hidden;
    -moz-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    &.show {
      opacity: 1;
    }
    input {
      width: 100%;
      background-color: #d6dcc2;
      border: none;
      height: 25px;
      color: #3a978a;
      padding: 5px 10px;
      margin-bottom: 8px;
    }
    .input-inline {
      &:after {
        display: table;
        clear: both;
        content: "";
      }
      .input-control {
        float: left;
        &:first-child {
          width: 49%;
          margin-right: 1%;
        }
        &:last-child {
          width: 49%;
          margin-left: 1%;
        }
      }
    }
    .submit-container {
      text-align: center;
      .submit {
        width: 120px;
        background-color: #3a978a;
        border: 1px solid #1d5454;
        color: white;
        height: 30px;
        margin-top:10px;
      }
    }
  }
}

.infobox-sizes {
  h3 {
    margin-bottom: 15px;
  }
  .sizes-select-title, .price-title, .price {
    width: 50%;
    display: inline-block;
  }
  .price { 
    text-align: right;
    color: #d6dcc2;
    font-size: 20px;
  }
}

// Ring graph
.infobox-ring-graph {
  position: relative;
  text-align: center;

  .ring-graph-inner {
    margin-top: 15px;
    cursor: pointer;

    canvas {
      cursor: pointer;  
    }

  }
  .percentage {
    pointer-events: none;
    position: absolute;
    cursor: pointer;
    top: 53px;
    left: 0;
    right: 0;
    h2 {
      display: inline;
    }
  }
}


//Custom style
.left-infobox {
  .custom-style-1 {
    background-color: rgba(185,199,164,0.9);
    color: #1d5454;
    .left-infobox-inner {
      position: relative;
      padding: 0;
      background-color: transparent;
      border: none;
      .module-title {
        color: #1d5454;
        line-height: 1.5;
        border-bottom: 2px solid #1d5454;
      }
      p, span, a {
        color: #1d5454;
      }
      p {
        margin-bottom: 6px;
      }
      .compass-container {
        height: 29px;
        width: 53px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        .compass-container-inner {
          position: relative;
          .compass-graphic {
            position: absolute;
          }
          .compass-neddle-graphic {
            position: absolute;
            left: 24px;
            top: 11px;
          }
        }
      }
    }
  }
}

.income-infobox {
  .income-curve {
    position: relative;
    .income-marker {
      position: absolute;
      height: 45px;
      border-left: 1px solid $theme-highlight;
      transition: left 0.3s ease-out;
    }
    .income-marker:before {
      content: ' ';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      top: 0;
      left: -3px;
      border-left: 3px solid transparent;
      border-top: 6px solid $theme-highlight;
      border-right: 3px solid transparent;
    }
    svg {
      width: 100%;
    }
  }
  .income-curve-text {
    transition: max-height 250ms ease-in-out, opacity 250ms ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  &:hover .income-curve-text {
    opacity: 1;
    max-height: 50px;
  }
}

.user-info-4 {
  padding-top:10px;
}

.select-row {
  margin-bottom: 10px;
}

.select-style {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: none;
    width: 50%;
    height: 20px;
    overflow: hidden;
    border-radius: 0;
    background: url("/assets/svg/dropdown_arrow.png") no-repeat;
    background-size: 216px 30px;

    select {
      padding: 3px 7px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;

      &:focus {
          outline: none;
      }
    }
}

@-webkit-keyframes display-and-fade-in {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes display-and-fade-in {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes display-and-fade-in {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes display-and-fade-in {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

