.hongKongIsland {
  width: 100%;
  height: 100%;
  position: absolute;
  border-left: 16.89vw solid #023536;
  border-right: 16.84vw solid #023536;
  box-shadow: 0 0 50vw 100vw #023536, inset 0 0 0 1px #023536;
}
svg.hongKongIsland {
  path {
    fill: #023536;
    transition: fill 100ms ease-in-out;
  }  
}