.ground-section {
  width: 100%;
  height: 100%;
  position: absolute;
  .kennedy {
    svg {
      animation-name: Rising;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.kennedy-section {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(60px);
  pointer-events: none;
  animation-name: Floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  .pin {
    pointer-events: all;
    &.affortable {
      svg {
        animation-name: Dropping;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
    }
  }
}

.pin {
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
  cursor: pointer;
  width: 17px;
  height: 26px;
  span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      path {
        fill: #d6dcc2;
      }
    }
  }
}

/*.pin.kennedy {
  span {
    transform: translateY(-120px);
  } 
  svg {
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
} */


@keyframes Floating {
  0% {
    transform: translateZ(50px);
  }
  50% {
    transform: translateZ(60px);
  }
  100% {
    transform: translateZ(50px);
  }
}

@keyframes Rising {
  0% {
    top: 0;
  }
  100% {
    top: -50px;
  }
}

@keyframes Dropping {
  0% {
    top: 0;
  }
  100% {
    top: 50px;
  }
}

@keyframes Hide {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pin1 {
  transform: translateX(50vw) translateY(-14vw) translateZ(5px) rotateX(-90deg) rotateY(0) rotateZ(0);
}
