<div (click)="hidePopUp()" class="popup_overlay" [ngClass]="{show: user.isViewResult}"></div>
<div class="popup-container" [ngClass]="{show: user.isViewResult}">
	<div class="popup-content">
		<span class="popup-close-btn" (click)="hidePopUp()">X</span>
		<h2>Popup box</h2>
	</div>
</div>