.popup_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
  -webkit-animation: display-and-fade-in 0.5s ease-out;
  -moz-animation: display-and-fade-in 0.5s ease-out;
  -o-animation: display-and-fade-in 0.5s ease-out;
  animation: display-and-fade-in 0.5s ease-out;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 600px;
  height: 400px;
  margin: 70px auto 0;
  color: white;
  padding: 50px 100px;
  z-index: 12;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  -webkit-animation: display-and-fade-in 0.5s ease-out;
  -moz-animation: display-and-fade-in 0.5s ease-out;
  -o-animation: display-and-fade-in 0.5s ease-out;
  animation: display-and-fade-in 0.5s ease-out;
}

.popup-close-btn {
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
}

.show {
  display: block;
}

@-webkit-keyframes display-and-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes display-and-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes display-and-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes display-and-fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
