// infobox Input
.infobox-input {
    text-align: center;
    .input-title {
        padding-top: 10px;
        text-align: center;
    }
    .dollar-wrapper, input {
        color: #d6dcc2;
        height: 32px;
        margin-top: 8px;
        font-size: 38px;
        padding: 0;
    }
    input {
        border:none;
        background-color: transparent;
        width: 125px;  
        font-family: 'Futura Lt BT Light', sans-serif; 
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    color: #d6dcc2;
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
