@font-face {
  font-family: 'Futura Lt BT Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Lt BT Light'), url('/assets/font/futura-lt-bt-light.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  src: url('/assets/font/NotoSansTC-Light.woff2') format('woff2'),
       url('/assets/font/NotoSansTC-Light.woff') format('woff'),
       url('/assets/font/NotoSansTC-Light.otf') format('opentype');
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: 'Noto Sans TC', "Helvetica Neue", sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /*background-image: linear-gradient(0deg, #050505, #222);*/
  /*background-image: url('../assets/bg.jpg');*/
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  color: #3f978a;
}

p {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-top: 0;
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

h2 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
  line-height: 2;
}

label, span, p, h1, h2, h3, h4 {
  color: #3a978a;
  margin-bottom: 0;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #3f978a;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
  &:hover {
    background-color: #28739e;
  }
}

.number {
  font-family: 'Futura Lt BT Light', sans-serif;
}

:focus, :active {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}